form.crime-search-form{
  margin: 1rem;
  padding: 0.5rem;
  background-color: teal;
  border-radius: 4px;
  justify-content: center;

  div.inputs{
    *{
      margin-bottom: 0.25rem;
    }
    span.input-group{
      display: flex;
      justify-content: flex-start;

      *{
        width: 100%;
      }
    }
}

  div.action-buttons{
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;

    button{
      margin: 2px 4px;
    }
  }
}