form.crime-search-form{
  margin: 1rem;
  padding: 2rem;
  background-color: teal;
  border-radius: 4px;
  justify-content: center;

  span.input-group{
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    margin-top: .5rem;

    *{
      width: 100%;
    }
  }

  div.action-buttons{
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;

    button{
      margin: 2px 4px;
    }
  }
}