div.leaflet-marker-icon{
  &.marker-icon-crime {
      svg.MuiSvgIcon-root {
      fill: blue;
    }
  }

  /* food inspection marker color depends on report status */
  &.marker-icon-health-inspection {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1px;
    border-radius: 4px;


    &.green{
      svg.MuiSvgIcon-root {
      fill: green;
    }
      border: 1px solid green;
    }

    &.yellow{
      svg.MuiSvgIcon-root {
        fill: gold;
      }
      border: 1px solid gold;
    }

    &.red{
      svg.MuiSvgIcon-root {
        fill: red;
      }
      border: 1px solid red;
    }

  }
}


