form.property-search-form{
  padding: 1rem 2rem;
  /* background-color: teal; */
  background-color: var(--brand-primary);
  border-radius: 4px;
  justify-content: center;
  box-shadow: 0 4px 20px 0 var(--gray);

  span.input-group{
    display: flex;
    width: 100%;

    span {
      margin-right: .5rem;
    }
  }

  div.action-buttons{
    /* margin: 1rem; */
    width: 100%;
    display: flex;
    justify-content: center;

    button{
      margin: 2px 4px;
    }
  }
}