form.property-search-form{
  margin: 1rem;
  padding: 2rem;
  background-color: teal;
  border-radius: 4px;
  width: 100%;

  span.input-group{
    display: flex;
    justify-content: space-evenly;
  }
}