span.dropdown-selector.root {
  display: flex;
  flex-direction: column;

  label {
    margin-right: 4px;
    font-size: small;
  }

  select {
    padding: 4px 6px;
    background-color: var(--white);
    border-radius: 6px;

    &:focus {
      outline: var(--brand-secondary) dashed 1px;
      outline-offset: 2px;
    }
  }

  &.dark-mode {
    label {
      color: var(--white);
    }

    select {
      color: var(--white);
      background-color: transparent;
      border-color: var(--white);
    }
  }

}