span.Logo.root {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--black);
  border-radius: 48px;
  margin: 0.5rem;
  padding: 1rem;
  width: fit-content;

  font-size: 24px;
  font-weight: 800;
  color: var(--brand-secondary);

  svg {
    margin-right: 0.5rem;
    background-image: var(--brand-gradient);

    path {
      fill: var(--white);
    }
  }
}