span.feature-icon-container {
  background-color: rgba(200,200,200, 0.4 );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  position: relative;
  padding: 8px;
  margin-right: 4px;

  span.feature-icon {
    svg {
      color: blue;
    }
  }

  span.label {
    position: absolute;
    bottom: -4px;
    right: 0px;
    font-size: 1rem;
    color: blue;
    font-weight: 800;
  }
}