form.property-search-form{
  margin: 1rem;
  padding: 2rem;
  background-color: teal;
  border-radius: 4px;
  justify-content: center;

  span.input-group{
    display: flex;
    justify-content: space-evenly;
    margin: .5rem 0;
  }

  div.action-buttons{
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;

    button{
      margin: 2px 4px;
    }
  }
}