figure.property-card.root{
  border: 1px solid gray;
  border-radius: 8px;

  width: 240px;
  height: 360px;
  overflow: hidden;

  img {
    width: 100%;
  }

  /* container of icons depicting common features */
  div.detail-icons{
    display: flex;
    margin: 4px;
  }

  figcaption.property-details{
    padding: 0 1rem;
    height: 100%;

    p.property-price {
        font-weight: 800;
      }
    }
}