div.property-card.root{
  border: 1px solid gray;
  border-radius: 8px;
  width: 240px;
  height: 320px;
  overflow: hidden;

  .img {
    background-color: lightgrey;
  }

  img, .img{
    width: 100%;
    height: 60%;
  }

  /* container of icons depicting common features */
  div.detail-icons{
    display: flex;
    margin: 4px;
  }

  .property-details{
    padding: 0 1rem;

    p {
      &.property-address, &.property-city-state {
        text-transform: capitalize;
      }}
    }
}