span.text-input {

  label {
    display: flex;
    flex-direction: column;
    font-size: large;
    color: var(--white);

    input[type=text] {
      margin: 0.25rem 0;
      padding: 4px 6px;
      background-color: var(--white);
      border-radius: 6px;

      &:focus {
        outline: orange dashed 2px;
        outline-offset: 2px;
      }
    }


  }

  &.dark-mode {
    label {
      color: var(--white);
    }

    input[type=text] {
      color: var(--white);
      background-color: transparent;
      border-color: var(--white);
    }
  }
}