:root {
  /* --brand-primary: rgba(107, 142, 35, 1); */
  --brand-primary: rgba(85, 107, 47, 1);
  --brand-secondary: rgb(218, 165, 32, 1);
  --brand-tertiary: rgba(0, 0, 139, 1);
  --brand-gradient: linear-gradient(var(--brand-tertiary),
      var(--brand-secondary),
      var(--brand-primary));

  --gray: rgba(20, 20, 20, 1);
  --gray50: rgba(20, 20, 20, 0.5);
  --lt-gray: rgb(204, 204, 204);
  --lt-gray50: rgba(45, 44, 44, 0.5);

  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);





  display: flex;


  body {
    padding: .5rem;
    width: 100vw;
    height: 100vh;
  }
}