span.date-picker.root {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;

  label {
    margin-right: 4px;
    font-size: small;
  }

  input[type="date"] {
    padding: 4px 6px;
    background-color: white;
    border-radius: 6px;

    &:focus {
      outline: var(--brand-secondary) dashed 1px;
      outline-offset: 2px;
    }
  }

  &.dark-mode {
    label {
      color: white;
    }

    select {
      color: white;
      background-color: transparent;
      border-color: white;
    }
  }

}