div.MapControls.root {
  min-width: 480px;
  border: 1px solid red;
  padding: 1rem;

  span.radius-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;

  }

  section.data-selectors {

    div.selectors {
      border: 1px solid orange;
      padding: .25rem 0;

    }
  }

}