.number-selector{
  display: flex;
  flex-direction: column;

  label{
    margin-right: 4px;
    font-size: large;
  }
  span.button-box{
  input[type=number]{
    padding: 4px 6px;
    background-color: white;
    width: 2em;

    &::-webkit-inner-spin-button {
      visibility: hidden;
    }
  }

  &.dark-mode{
    label{
      color: white;
    }

    input[type=number]{
      color: white;
      background-color: transparent;
      border-color: white;
    }
  }
}
}